- name: Static pod dir exists
  file:
    path: '{{ k8s__static_pod_path }}'
    owner: root
    group: root
    mode: 0755
    state: directory
  when: k8s__static_pod_path is defined

- name: kubelet lib dir exists
  file:
    path: /var/lib/kubelet
    owner: root
    group: root
    mode: 0755
    state: directory

- name: kubelet unit file exists
  template:
    src: systemd_units/kubelet.service.j2
    dest: /etc/systemd/system/kubelet.service
    owner: root
    group: root
    mode: 0664

- name: kubelet.conf exists
  template:
    src: k8s_configs/kubelet.conf.j2
    dest: '{{ k8s_node__k8s_configs_dir }}/kubelet.conf'
    owner: root
    group: root
    mode: 0644

- name: kubelet is running
  systemd:
    name: kubelet
    daemon_reload: true
    enabled: true
    state: started
