kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
address: {{ k8s_node__kubelet_address }}
authentication:
  x509:
    clientCAFile: {{ k8s_master__pki_dir }}/ca.crt
  webhook:
    enabled: false
    cacheTTL: "0s"
  anonymous:
    enabled: false
authorization:
  mode: Webhook
  webhook:
    cacheAuthorizedTTL: 5m0s
    cacheUnauthorizedTTL: 30s
cgroupDriver: {{ k8s_node__kubelet_cgroup_driver }}
clusterDNS: [{{ k8s__dns_server_ip_addr }}]
clusterDomain: {{ k8s__dns_cluster_domain }}
containerLogMaxFiles: {{ k8s_node__kubelet_container_log_max_files }}
containerLogMaxSize: {{ k8s_node__kubelet_container_log_max_size }}
failSwapOn: {{ k8s_node__kubelet_fail_swap_on }}
{% if k8s__feature_gates is defined %}
featureGates:
    {%- for _fg_name, _fg_flag in k8s__feature_gates.items() %}

  {{ _fg_name }}: {{ _fg_flag }}

    {%- endfor %}
{% endif %}

hairpinMode: {{ k8s_node__kubelet_hairpin_mode }}
healthzBindAddress: {{ k8s_node__kubelet_healthz_bind_address }}
healthzPort: {{ k8s_node__kubelet_healthz_port }}
maxOpenFiles: {{ k8s_node__kubelet_max_open_files }}
maxPods: {{ k8s_node__kubelet_max_pods }}
podPidsLimit: {{ k8s_node__kubelet_pod_pids_limit }}
port: {{ k8s__kubelet_port }}
readOnlyPort: 0
rotateCertificates: {{ k8s_node__kubelet_rotate_certificates }}
{% if k8s__static_pod.enabled %}
staticPodPath: {{ k8s__static_pod.manifests_path }}
{% endif %}
tlsCertFile: {{ k8s_node__pki_dir }}/kubelet-{{ ansible_facts.fqdn }}.crt
tlsCipherSuites:
{% set _ciphers = k8s_node__kubelet_tls_cipher_suites.split(',') %}
{% for _cipher in _ciphers %}
- {{ _cipher }}
{% endfor %}
tlsMinVersion: {{ k8s_node__kubelet_tls_min_version }}
tlsPrivateKeyFile: {{ k8s_node__pki_dir }}/kubelet-{{ ansible_facts.fqdn }}.key
