{% set _feature_gates = [] %}
{%- if k8s__feature_gates is defined -%}
    {% for _fg_name, _fg_flag in k8s__feature_gates.items() -%}
        {{ _feature_gates.append('%s=%s'|format(_fg_name, _fg_flag)) }}
    {%- endfor %}
{%- endif %}
[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
User=kubernetes
Group=kubernetes
ExecStart=/usr/bin/kube-controller-manager \
  --allocate-node-cidrs=true \
  --bind-address={{ k8s_master__kube_controller_manager_bind_address }} \
  --cluster-cidr={{ k8s__cluster_cidr }} \
  --cluster-name={{ k8s__k8s_cluster_name }} \
  --cluster-signing-cert-file={{ k8s_master__pki_dir }}/ca.crt \
  --cluster-signing-key-file={{ k8s_master__pki_dir }}/ca.key \
  --controllers={{ k8s_master__kube_controller_manager_controllers }} \
  --enable-hostpath-provisioner={{ k8s_master__kube_controller_manager_enable_hostpath_provisioner }} \
  --experimental-cluster-signing-duration={{ k8s_master__kube_controller_manager_cluster_signing_duration }} \
{% if _feature_gates|length > 0 %}
  --feature-gates={{ _feature_gates|join(',') }} \
{% endif %}
  --flex-volume-plugin-dir={{ k8s__volume_plugin_dir }} \
  --kubeconfig={{ k8s_master__kubeconfig_dir }}/kube-controller-manager.kubeconfig \
  --node-cidr-mask-size={{ k8s_master__kube_controller_manager_node_cidr_mask_size }} \
  --node-eviction-rate={{ k8s_master__kube_controller_manager_node_eviction_rate }} \
  --node-monitor-grace-period={{ k8s_master__kube_controller_manager_node_monitor_grace_period }} \
  --node-monitor-period={{ k8s_master__kube_controller_manager_node_monitor_period }} \
  --node-startup-grace-period={{ k8s_master__kube_controller_manager_node_startup_grace_period }} \
  --pod-eviction-timeout={{ k8s_master__kube_controller_manager_pod_eviction_timeout }} \
  --port={{ k8s_master__kube_controller_manager_port }} \
  --profiling={{ k8s_master__kube_controller_manager_profiling }} \
  --root-ca-file={{ k8s_master__pki_dir }}/ca.crt \
  --secondary-node-eviction-rate={{ k8s_master__kube_controller_manager_secondary_node_eviction_rate }} \
  --secure-port={{ k8s_master__kube_controller_manager_secure_port }} \
  --service-account-private-key-file={{ k8s_master__pki_dir }}/kube-controller-manager.key \
  --service-cluster-ip-range={{ k8s__service_cluster_ip_range }} \
  --unhealthy-zone-threshold={{ k8s_master__kube_controller_manager_unhealthy_zone_threshold }} \
  --use-service-account-credentials=true \
  --v={{ k8s_master__kube_controller_manager_vlog_level }}
Restart=always
RestartSec={{ k8s_master__kube_controller_manager_restart_sec }}s

[Install]
WantedBy=multi-user.target
