[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
User=root
Group=root
ExecStart=/usr/bin/kubelet \
  --bootstrap-kubeconfig={{ k8s_node__kubeconfig_dir }}/bootstrap.kubeconfig \
  --cert-dir={{ k8s_node__kubelet_cert_dir }} \
  --config={{ k8s_node__k8s_configs_dir }}/kubelet.conf \
  --cni-bin-dir={{ k8s_node__kubelet_cni_bin_dir }} \
  --cni-conf-dir={{ k8s_node__kubelet_cni_conf_dir }} \
  --kubeconfig={{ k8s_node__kubeconfig_dir }}/kubelet.kubeconfig \
  --network-plugin=cni \
  --pod-infra-container-image={{ k8s_node__kubelet_pod_infra_container_image }} \
  --v={{ k8s_node__kubelet_vlog_level }} \
  --volume-plugin-dir={{ k8s__volume_plugin_dir }}
Restart=always
RestartSec={{ k8s_node__kubelet_restart_sec }}s

[Install]
WantedBy=multi-user.target
