[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=k8s-containerd.service
Requires=k8s-containerd.service

[Service]
{% if ansible_os_family == 'RedHat' %}
CPUAccounting=true
MemoryAccounting=true
{% endif %}
User=root
Group=root
ExecStart={{ k8s__k8s_bin_dir }}/kubelet \
  --bootstrap-kubeconfig={{ k8s_node__kubeconfig_dir }}/bootstrap.kubeconfig \
  --cert-dir={{ k8s_node__kubelet_cert_dir }} \
  --config={{ k8s_node__k8s_configs_dir }}/kubelet.conf \
{% if k8s__cloud_provider is defined and k8s__cloud_provider != 'external' %}
  --cloud-config={{ k8s_node__k8s_configs_dir }}/cloud.conf \
{% endif %}
{% if k8s__cloud_provider is defined %}
  --cloud-provider={{ k8s__cloud_provider }} \
{% endif %}
  --cni-bin-dir={{ k8s_node__kubelet_cni_bin_dir }} \
  --cni-conf-dir={{ k8s_node__kubelet_cni_conf_dir }} \
  --kubeconfig={{ k8s_node__kubeconfig_dir }}/kubelet.kubeconfig \
  --network-plugin=cni \
  --pod-infra-container-image={{ k8s_node__kubelet_pod_infra_container_image }} \
  --v={{ k8s_node__kubelet_vlog_level }} \
  --volume-plugin-dir={{ k8s__volume_plugin_dir }} \
  --container-runtime=remote \
  --container-runtime-endpoint=unix://{{ k8s_node__containerd_state_dir }}/containerd.sock
Restart=always
RestartSec={{ k8s_node__kubelet_restart_sec }}s
KillMode=process

[Install]
WantedBy=multi-user.target
