kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
    - secrets
    providers:
    - aescbc:
        keys:
        - name: key1
          secret: {{ k8s_master__secret_encoding_key | b64encode }}
    - identity: {}
