kind: KubeSchedulerConfiguration
apiVersion: componentconfig/v1alpha1
enableProfiling: {{ k8s_master__kube_scheduler_enable_profiling }}
{% if k8s__feature_gates %}
featureGates:
    {%- for _fg_name, _fg_flag in k8s__feature_gates.items() %}

  {{ _fg_name }}: {{ _fg_flag }}

    {%- endfor %}
{% endif %}

healthzBindAddress: {{ k8s_master__kube_scheduler_healthz_bind_address }}
metricsBindAddress: {{ k8s_master__kube_scheduler_metrics_bind_address }}
clientConnection:
  kubeconfig: {{ k8s_master__kubeconfig_dir }}/kube-scheduler.kubeconfig
