- name: YUM packages for dev tools are installed
  yum:
    name: '{{ item }}'
    state: latest
    disablerepo: '{{ dev_env__yum_repos_to_disable | join(",") }}'
  loop: '{{ dev_env__yum_pkgs_to_install }}'
  when: not host__use_dnf
- name: YUM packages for dev tools are installed
  dnf:
    name: '{{ item }}'
    state: latest
    disablerepo: '{{ dev_env__yum_repos_to_disable | join(",") }}'
  loop: '{{ dev_env__yum_pkgs_to_install }}'
  when: host__use_dnf

- name: Helm archive is downloaded
  get_url:
    url: '{{ dev_env__helm_download_url }}'
    dest: '{{ k8s__remote_tmp_dir }}/helm.tar.gz'
    checksum: '{{ dev_env__helm_checksum }}'
  register: _get_url_result
- name: Helm archive is extracted
  unarchive:
    src: '{{ k8s__remote_tmp_dir }}/helm.tar.gz'
    remote_src: true
    dest: '{{ k8s__remote_tmp_dir }}'
  when: _get_url_result.changed
- name: Helm is installed
  copy:
    src: '{{ k8s__remote_tmp_dir }}/linux-amd64/helm'
    remote_src: true
    dest: /usr/bin
    owner: root
    group: root
    mode: 0755
  when: _get_url_result.changed

- name: stern archive is installed
  get_url:
    url: '{{ dev_env__stern_download_url }}'
    dest: '{{ k8s__remote_tmp_dir }}/stern.tar.gz'
    checksum: '{{ dev_env__stern_checksum }}'
  register: _get_url_result
- name: stern archive is extracted
  unarchive:
    src: '{{ k8s__remote_tmp_dir }}/stern.tar.gz'
    remote_src: true
    dest: '{{ k8s__remote_tmp_dir }}'
  when: _get_url_result.changed
- name: stern is installed
  copy:
    src: '{{ k8s__remote_tmp_dir }}/stern'
    remote_src: true
    dest: /usr/bin
    owner: root
    group: root
    mode: 0755
  when: _get_url_result.changed
- name: stern's bash completion is setup
  lineinfile:
    path: '{{ item }}'
    line: source <(stern --completion=bash)
    state: present
  loop:
    - /root/.bashrc

- name: jq is installed
  get_url:
    url: '{{ dev_env__jq_download_url }}'
    dest: /usr/bin/jq
    checksum: '{{ dev_env__jq_checksum }}'
- name: jq is executable
  file:
    path: /usr/bin/jq
    owner: root
    group: root
    mode: 0755

- name: Git aliases exist
  ini_file:
    path: /etc/gitconfig
    section: alias
    option: '{{ item.opt }}'
    value: '{{ item.val }}'
  loop:
  - opt: l
    val: log --date=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn %Creset%s'
  - opt: ll
    val: log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  - opt: lg
    val: log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
  - opt: lm
    val: log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  - opt: b
    val: branch
  - opt: ba
    val: branch -a
  - opt: co
    val: checkout
  - opt: cob
    val: checkout -b
  - opt: a
    val: add
  - opt: aa
    val: '!git add -A && git s'
  - opt: c
    val: commit
  - opt: cm
    val: commit -m
  - opt: amend
    val: commit --amend -C HEAD
  - opt: d
    val: diff
  - opt: dn
    val: diff --name-only
  - opt: dc
    val: diff --cached
  - opt: dcn
    val: diff --cached --name-only
  - opt: ft
    val: fetch
  - opt: pl
    val: pull
  - opt: ps
    val: push
  - opt: s
    val: status --short --branch
  - opt: st
    val: status
  - opt: r
    val: reset
  - opt: rb
    val: rebase
