- name: k8s components are ready
  command: kubectl get componentstatuses
  register: _componentstatuses
  until: _componentstatuses.stdout.find('Unhealthy') == -1
  retries: 5
  delay: 5
  changed_when: false

- name: weave-net manifests dir exists
  file:
    path: '{{ weave_net__manifests_dir }}'
    owner: '{{ weave_net__manifests_owner }}'
    group: '{{ weave_net__manifests_group }}'
    mode: 0755
    state: directory

- name: privileged-PSP manifest exists
  copy:
    src: privileged_psp.yml
    dest: '{{ weave_net__manifests_dir }}'
    owner: '{{ weave_net__manifests_owner }}'
    group: '{{ weave_net__manifests_group }}'
    mode: 0644
- name: privileged-PSP is deployed
  command: kubectl apply -f {{ weave_net__manifests_dir }}/privileged_psp.yml
  register: _apply_result
  changed_when: '" created" in _apply_result.stdout or " configured" in _apply_result.stdout'

- name: privileged-PSP Role manifest exists
  copy:
    src: privileged_psp_role.yml
    dest: '{{ weave_net__manifests_dir }}'
    owner: '{{ weave_net__manifests_owner }}'
    group: '{{ weave_net__manifests_group }}'
    mode: 0644
- name: privileged-PSP is deployed
  command: kubectl apply -f {{ weave_net__manifests_dir }}/privileged_psp_role.yml
  register: _apply_result
  changed_when: '" created" in _apply_result.stdout or " configured" in _apply_result.stdout'

- name: privileged-PSP/weave-net RoleBinding manifest exists
  copy:
    src: privileged_psp_weave_net_rolebinding.yml
    dest: '{{ weave_net__manifests_dir }}'
    owner: '{{ weave_net__manifests_owner }}'
    group: '{{ weave_net__manifests_group }}'
    mode: 0644
- name: privileged-PSP/weave-net RoleBinding is deployed
  command: kubectl apply -f {{ weave_net__manifests_dir }}/privileged_psp_weave_net_rolebinding.yml
  register: _apply_result
  changed_when: '" created" in _apply_result.stdout or " configured" in _apply_result.stdout'

- name: weave-net secret manifest exists
  template:
    src: weave_secret.yml.j2
    dest: '{{ weave_net__manifests_dir }}/weave_secret.yml'
    owner: '{{ weave_net__manifests_owner }}'
    group: '{{ weave_net__manifests_group }}'
    mode: 0600
- name: weave-net secret is deployed
  command: kubectl apply -f {{ weave_net__manifests_dir }}/weave_secret.yml
  register: _apply_result
  changed_when: '" created" in _apply_result.stdout or " configured" in _apply_result.stdout'

- name: weave-net manifest exists
  template:
    src: weave_daemonset.yml.j2
    dest: '{{ weave_net__manifests_dir }}/weave_daemonset.yml'
    owner: '{{ weave_net__manifests_owner }}'
    group: '{{ weave_net__manifests_group }}'
    mode: 0644
- name: weave-net is deployed
  command: kubectl apply -f {{ weave_net__manifests_dir }}/weave_daemonset.yml
  register: _apply_result
  changed_when: '" created" in _apply_result.stdout or " configured" in _apply_result.stdout'
