k8s_node__k8s_bins_download_url_base: https://storage.googleapis.com/kubernetes-release/release/{{ k8s__k8s_version }}/bin/linux/amd64
k8s_node__kubelet_bin_checksum: sha1:88e181532294abebb755c9495c75ef7b6af2edb5
k8s_node__kube_proxy_bin_checksum: sha1:b1824394677e5e5760f609047bcc7aa3411e534d

k8s_node__docker_nofile: 1000000
k8s_node__additional_dockerd_options:

k8s_node__cni_version: v0.6.0
k8s_node__cni_archive_download_url_base: https://github.com/containernetworking/cni/releases/download
k8s_node__cni_archive_checksum: sha1:201d934018af9097d6719d70688dabd578ee2b2e

k8s_node__cni_plugins_version: v0.7.1
k8s_node__cni_plugins_archive_download_url_base: https://github.com/containernetworking/plugins/releases/download
k8s_node__cni_plugins_archive_checksum: sha1:fb29e20401d3e9598a1d8e8d7992970a36de5e05

k8s_node__kubeconfig_dir: /etc/kubernetes
k8s_node__k8s_configs_dir: /etc/kubernetes
k8s_node__pki_dir: /etc/kubernetes/pki

k8s_node__kubelet_opts:
  address: 0.0.0.0
  cert_dir: '{{ k8s_node__pki_dir }}'
  cni_bin_dir: /opt/cni/bin
  cni_conf_dir: /etc/cni/net.d
  cgroup_driver: cgroupfs
  container_log_max_files: 5
  container_log_max_size: 10Mi
  max_open_files: '{{ k8s_node__docker_nofile + 10000 }}'
  max_pods: 110
  pod_infra_container_image: k8s.gcr.io/pause-amd64:3.1
  rotate_certificates: true
  tls_cipher_suites: TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384
  tls_min_version: VersionTLS12
  vlog_level: 2
k8s_node__kubelet_restart_sec: 10

k8s_node__kube_proxy_opts:
  bind_address: 0.0.0.0
  vlog_level: 2
k8s_node__kube_proxy_restart_sec: 10

k8s_node__kernel_params:
# For k8s
- name: net.bridge.bridge-nf-call-iptables
  value: 1
- name: net.bridge.bridge-nf-call-ip6tables
  value: 1
- name: net.ipv4.ip_forward
  value: 1
- name: fs.file-max
  value: '{{ k8s_node__docker_nofile + 50000 }}'
# For Pods
- name: vm.max_map_count  # Elasticsearch
  value: 262144
